{
	auto_https off

	servers {
		trusted_proxies static private_ranges
	}
}

:80

root * /srv

@pbf path *.pbf
header @pbf {
	>Content-Type application/x-protobuf
}

file_server browse {
	index tile.json
}

header -Server

handle_errors {
	header -Server
}
