{
	auto_https off

	servers {
		trusted_proxies static private_ranges
	}
}

:80

root * /srv

handle /health {
	skip_log
	@goingDown vars {http.shutting_down} true
	respond @goingDown "Bye-bye in {http.time_until_shutdown}" 503
	respond "OK"
}

rewrite /vector tile.json

@pbf path *.pbf
header @pbf {
	>Content-Type application/x-protobuf
}

file_server {
	index tile.json
}

header -Server

handle_errors {
	header -Server
}
