name: "Basemap vector: publish"
run-name: "Basemap vector: publish (${{ startsWith(github.ref, 'refs/tags/') && 'stable' || 'preview' }})"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write
  packages: write
  deployments: write
  pages: write
  id-token: write

jobs:
  publish-production-page:
    name: Publish production page
    uses: ./.github/workflows/reusable-workflow-publish-page.yml
    if: startsWith(github.ref, 'refs/tags/')
    concurrency: basemap-production-page
    with:
      stable: true
      style-source-url: https://vector.startupgov.lt/tile.json
      style-base-url: https://basemap.startupgov.lt
      pmtiles-url: https://cdn.startupgov.lt/tiles/vector/pmtiles/lithuania.pmtiles
    secrets:
      cloudflare-api-token: ${{ secrets.CLOUDFLARE_PAGES_API_TOKEN }}
      cloudflare-account-id: ${{ secrets.CLOUDFLARE_PAGES_ACCOUNT_ID }}

  publish-vector-basemap:
    name: Publish vector basemap
    uses: ./.github/workflows/reusable-workflow-publish-basemap-vector.yml
    if: startsWith(github.ref, 'refs/tags/')
    concurrency: basemap-vector-publish
    with:
      stable: true
      archive-version: ${{ github.ref_name }}
      s3-endpoint: ${{ vars.S3_ENDPOINT }}
    secrets:
      s3-access-key-id: ${{ secrets.S3_ACCESS_KEY_ID }}
      s3-secret-access-key: ${{ secrets.S3_SECRET_ACCESS_KEY }}

  publish-vector-basemap-preview:
    name: Publish vector basemap preview
    uses: ./.github/workflows/reusable-workflow-publish-basemap-vector.yml
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    concurrency:
      group: basemap-vector-publish-preview
      cancel-in-progress: true
    with:
      s3-endpoint: ${{ vars.S3_DEVELOPMENT_ENDPOINT }}
    secrets:
      s3-access-key-id: ${{ secrets.S3_DEVELOPMENT_ACCESS_KEY_ID }}
      s3-secret-access-key: ${{ secrets.S3_DEVELOPMENT_SECRET_ACCESS_KEY }}

